[submodule "fe-platform"]
	path = fe-platform
	url = https://github.com/soul-org/fe-platform.git
[submodule "documents"]
	path = documents
	url = https://github.com/soul-org/documents.git
[submodule "be-contracts"]
	path = be-contracts
	url = https://github.com/soul-org/be-contracts.git
[submodule "be-analytics-api"]
	path = be-analytics-api
	url = https://github.com/soul-org/be-analytics-api.git
